.header {
    background: #3A3A3A;
}

.header .wrapper-header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'fa-brands-400', sans-serif;
}

.header .wrapper-header .user-top {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .wrapper-header .user-top .icon {
    color: #fff;
    cursor: pointer;
}

.header .wrapper-header .user-top #user-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #000000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.header .wrapper-header .user-top #user-info {
    position: absolute;
    bottom: -35px;
    background: white;
    padding: 8px 10px;
    border-radius: 0.5rem;
    opacity: 0;
    transform: translateY(-30px);
    pointer-events: none;
    transition: opacity 0.25s ease, transform 0.25s ease;
}

.header .wrapper-header .user-top #user-info.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.header .wrapper-header .user-top #user-info a {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    width: 100%;
    white-space: nowrap;
    line-height: 1;
    transition: color 0.3s ease;
}


.header .wrapper-header .user-top #user-info a:hover {
    color: #00C477;
}

.header .wrapper-header #menu {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.header .wrapper-header #menu ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    color: white;
}

.header .wrapper-header #menu ul li {
    height: 100%;
}

.header .wrapper-header #menu ul li a {
    position: relative;
    padding-bottom: 33px;
    color: white;
    font-size: 16px;
}

/* линия */
.header .wrapper-header #menu ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 3px;
    background-color: #00C477;

    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s ease;
}

/* hover */
.header .wrapper-header #menu ul li a:hover::after {
    transform: scaleY(1);
}

/* active */
.header .wrapper-header #menu ul li a.router-link-active::after {
    transform: scaleY(1);
}

.header .wrapper-header #menu ul li a.router-link-active {
    color: #00C477;
}