.image-preview-area {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}

.image-preview-area img {
    width: 80px;
    height: 80px;
}