.popup-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9998;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
    max-width: 600px;
    z-index: 9999;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}


.popup .head-popup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #DFE3E9;
    font-size: 15px;
    padding: 30px 15px;
}

.popup .head-popup {
    font-weight: 600;
}

.popup .head-popup i {
    cursor: pointer;
    font-size: 17px;
    transition: color 0.3s ease;
}

.popup .head-popup i:hover {
    color: #00C477;
}

.popup-inner {
    background: #FEFEFE;
    padding: 30px 20px;
}

